<h1>Embedded views in Angular</h1>
<hr>
<ng-container #container></ng-container>

<!--Pass context - with some variables  into template-->

<ng-template #userTemplate let-user="user">
  <h2>This content render with ViewContainerRef</h2>
  <h3>Username: {{user.name}}</h3>
  <hr>
</ng-template>


<!--Pass context - with some variables  into template-->
<ng-template #userTemplate2 let-user="user" let-index="index" let-firstUser="firstUser" let-lastUser="lastUser">
  <h2>This content render with ViewContainerRef</h2>
  <h3>Username: {{user.name}}</h3>
  <div>{{index}}</div>
  <div>First: {{firstUser}}</div>
  <div>Last: {{lastUser}}</div>
  <hr>
</ng-template>


